<!Doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Show message</title>
</head>
<body>
  <h2><%= mes %></h2>
  <table>
  <tr>
      <% for( let row of data ) { %>
        <tr>
            <td><%= row.team_id %></td>
            <td><%= row.チーム名 %></td>
            <td><%= row.所在地 %></td>
            <td><%= row.本拠地 %></td>
        </tr>
      <% } %>
  </table>
  <a href="/public/npb.html">新規チーム登録</a><br>
</body>
</html>
