<!Doctype html>
<html>
<head>
<meta charset="utf-8">
<title>選手編集</title>
</head>
<body>
<h2><%= mes %></h2>
<% for( let row of data ) { %>
<form action="/player_update" method="post">
<input type="number" name="id" value="<%= row.id %>">
<input type="number" name="team_id" value="<%= row.team_id %>">
<input type="number" name="number" value="<%= row.背番号 %>">
<input type="text" name="name" value="<%= row.選手名 %>">
<input type="text" name="position" value="<%= row.ポジション %>">
<input type="number" name="hit" value="<%= row.ヒット数 %>">
<input type="number" name="homerun" value="<%= row.ホームラン数 %>">
<input type="submit" value="登録">
</form>
<% } %>
</body>
</html>
