<!Doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Show message</title>
</head>
<body>
  <h2><%= mes %></h2>
  <table>
      <% for( let row of data ) { %>
        <tr>
            <td><%= row.id %></td>
            <td><%= row.team %></td>
            <td><%= row.team_id %></td>
            <td><%= row.背番号 %></td>
            <td><%= row.選手名 %></td>
            <td><%= row.ポジション %></td>
            <td><%= row.ヒット数 %></td>
            <td><%= row.ホームラン数 %></td>
        </tr>
      <% } %>
  </table>
  <a href="/public/home.html">ホーム</a><br>
  <a href="/public/player.html">プロ野球選手追加</a><br>
<a href="/public/npb.html">プロ野球チーム追加</a><br>
<a href="/update">プロ野球チーム編集</a><br>
<a href="/player_db">プロ野球選手一覧</a><br>
<a href="/db">プロ野球チーム一覧</a><br>
<a href="/player_update">プロ野球選手編集</a><br>
</body>
</html>
